body
{
    background-color: rgb(200, 200, 255);
    margin: 0px;
}
#header-div
{
    background-color: rgb(192, 64, 0);
    width: 100%;
}
.header-button
{
    font-size: 1.5em;
    border-right: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}
.header-button:hover
{
    text-decoration: underline;
}
#content-div
{
    position: relative;
    left: 5%;
    width: 90%;
    background-color: white;
    height: 100%;
    padding-top: 10px;
}
#problem-description-div
{
    position: relative;
    left: 0%;
    width: 50%;
    float: left;
    border-right: 1px solid black;
}
#problem-submission-div
{
    position: relative;
    left: 0%;
    width: 50%;
    margin-left: 50%;
    border-left: 1px solid black;
}
h1
{
    margin-top: 0px;
    padding-left: 5px;
}
#submit-div
{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 7px;
    background-color: rgb(180, 180, 180);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16pt;
}
#submit-div:hover
{
    background-color: rgb(100, 100, 100);
}
h3
{
    margin-bottom: 0px;
}
.underlined-span
{
    text-decoration: underline;
}
ul
{
    margin-top: 0px;
}
span
{
    padding-left: 5px;
}

#problem-submission-inner-div
{
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
#code-textarea
{
    width: 100%;
    height: 10em;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}